@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);

:root{
    --main-bg-color: #6341AF;
    --main-font: 'Roboto';
    --main-font-color: #242424;
    --white-font: #fff;
    --footer-text-color: #8C94A3;
    --login-bg-color: #F3EFFE;
}
*{
    font-family: var(--main-font);
}
html, body, #root {
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFF;
}
img{
    max-width: 100%;
}
ul{
    padding-left: 0px;
}
li{
    list-style-type: none;
}
ul li *{
    text-decoration: none;
}
.text-white{
    color: #fff;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
main {
    flex: 1;
}
footer{
    flex-shrink: 0;
}
.bg-main-color{
    background-color: var(--main-bg-color);
}
.footer-desc{
    font-size: 14px;
    font-weight: 400;
    color: var(--footer-text-color);
}
.copy-write-bg{
    background-color: #FEF3C7;
}
.copy-write-bg * {
    font-size: 14px;
    font-weight: 500;
    color: var(--main-font-color);
}
.navlinks *{
    font-size: 15px;
    font-weight: 500;
}
.navlinks .active{
    border-bottom: 2px solid #fff;
}
.social-media > *{
    background-color: #363B4766;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    transition: all 500ms;
}
.social-media > *:hover{
    background-color: #fff;
    border-radius: 2px;
}
.main-footer-sec ul{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8px;
}
.main-footer-sec ul li > *{
    font-size: 14px;
    font-weight: 400;
    color: var(--footer-text-color);
}
.main-footer-sec .has-hover li:hover > *::after{
    content: '  >';
    font-size: 16px;
    font-weight: 700;
}
.main-footer-sec .has-hover li:hover > *{
    color: #fff;
    border-bottom: 2px solid #fff;
}
.main-footer-sec ul li:first-of-type{
    font-size: 14px;
    font-weight: 500;
    color: var(--white-font);
    margin-bottom: 25px;
}

.download-text > p{
    font-size: 10px;
    font-weight: 400;
    color: #B7BAC7;
}
.store{
    transition: all 400ms;
}
.store:hover{
    background-color: #333 !important;
}
.store:hover > .download-text > *{
    color: #fff !important;
}
.download-text > h4{
    font-size: 20px;
    font-weight: 500;
    color: #3B3B3B;
}
.btn-applian:hover,
.btn-purple:hover{
    border: 1px solid var(--main-bg-color) !important;
    color: var(--main-bg-color) !important;
    background-color: #fff !important;
}
.btn-applian{
    transition: all 350ms;
    background-color: #FEF3C7 !important;
}
.btn-purple{
    transition: all 350ms;
    background-color: var(--main-bg-color) !important;
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-horizontal.swiper-pagination-bullets {
  & .swiper-pagination-bullet {
    background-color: #a7a7a7;
    width: 15px;
    height: 15px;
  }
}
.swiper-pagination-bullet-active{
    width: 25px !important;
    height: 25px !important;
    background-color: #d4d4d4 !important;
    border: 4px solid var(--main-bg-color);   
}
.hero-p{
    color: #4E5566;
}
.btn-border-purple {
    border:1px solid var(--main-bg-color);
    color: var(--main-bg-color);
}
.login-bg-color{
    background-color: var(--login-bg-color);
}
.social-auth-btn{
    border-radius: 25% 50% 50% 25%;
}
.login-img{
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.remember-me,
.agree-tems-and-conditions{
    font-size: 14px;
    font-weight: 400;
    color: #6E7485;
}
.agree-tems-and-conditions *{
    color: var(--main-bg-color);
    cursor: pointer;
}
.profile{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px 0px 2px 0px #4CBB17 solid;
}
#dropdown-basic:hover{
    border-bottom: 2px #fff solid;
    border-radius: 0px;
}
.dropdown-toggle::after{
    display: inline !important;
    margin-left: 0 !important;
    vertical-align: 0 !important;
    content: "" !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
}