@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);

:root{
    --main-bg-color: #6341AF;
    --main-font: 'Roboto';
    --main-font-color: #242424;
    --white-font: #fff;
    --footer-text-color: #8C94A3;
    --login-bg-color: #F3EFFE;
}
*{
    font-family: var(--main-font);
}
html, body, #root {
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFF;
}
a{
    text-decoration: none;
    color: black;
}
img{
    max-width: 100%;
}
ul{
    padding-left: 0px;
}
li{
    list-style-type: none;
}
ul li *{
    text-decoration: none;
}
.text-white{
    color: #fff;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
main {
    flex: 1;
}
footer{
    flex-shrink: 0;
}
.bg-main-color{
    background-color: var(--main-bg-color);
}
.footer-desc{
    font-size: 14px;
    font-weight: 400;
    color: var(--footer-text-color);
}
.copy-write-bg{
    background-color: #FEF3C7;
}
.copy-write-bg * {
    font-size: 14px;
    font-weight: 500;
    color: var(--main-font-color);
}
.navlinks *{
    font-size: 15px;
    font-weight: 500;
}
.navlinks .active{
    border-bottom: 2px solid #fff;
}
.social-media > *{
    background-color: #363B4766;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    transition: all 500ms;
}
.social-media > *:hover{
    background-color: #fff;
    border-radius: 2px;
}
.main-footer-sec ul{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8px;
}
.main-footer-sec ul li > *{
    font-size: 14px;
    font-weight: 400;
    color: var(--footer-text-color);
}
.main-footer-sec .has-hover li:hover > *::after{
    content: '  >';
    font-size: 16px;
    font-weight: 700;
}
.main-footer-sec .has-hover li:hover > *{
    color: #fff;
    border-bottom: 2px solid #fff;
}
.main-footer-sec ul li:first-of-type{
    font-size: 14px;
    font-weight: 500;
    color: var(--white-font);
    margin-bottom: 25px;
}

.download-text > p{
    font-size: 10px;
    font-weight: 400;
    color: #B7BAC7;
}
.store{
    transition: all 400ms;
}
.store:hover{
    background-color: #333 !important;
}
.store:hover > .download-text > *{
    color: #fff !important;
}
.download-text > h4{
    font-size: 20px;
    font-weight: 500;
    color: #3B3B3B;
}
.color-purple{
    color: var(--main-bg-color) !important;
}
.border-bottom-purple{
    border-bottom: var(--main-bg-color) 3px solid;
}
.browse-cates{
    font-size: 18px;
    font-weight: 400;
    color: #4E5566;
    transition: all 300ms;
}
.browse-cates:hover{
    transform: rotate(-2deg);
}
.btn-applian:hover,
.btn-purple:hover{
    border: 1px solid var(--main-bg-color) !important;
    color: var(--main-bg-color) !important;
    background-color: #fff !important;
}
.btn-applian{
    transition: all 350ms;
    background-color: #FEF3C7 !important;
}
.btn-purple{
    transition: all 350ms;
    background-color: var(--main-bg-color) !important;
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-horizontal.swiper-pagination-bullets {
  & .swiper-pagination-bullet {
    background-color: #a7a7a7;
    width: 15px;
    height: 15px;
  }
}
.swiper-pagination-bullet-active{
    width: 25px !important;
    height: 25px !important;
    background-color: #d4d4d4 !important;
    border: 4px solid var(--main-bg-color);   
}
.hero-p{
    color: #4E5566;
}
.btn-border-purple {
    border:1px solid var(--main-bg-color);
    color: var(--main-bg-color);
}
.login-bg-color{
    background-color: var(--login-bg-color);
}
.social-auth-btn{
    border-radius: 25% 50% 50% 25%;
}
.login-img{
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.remember-me,
.agree-tems-and-conditions{
    font-size: 14px;
    font-weight: 400;
    color: #6E7485;
}
.agree-tems-and-conditions *{
    color: var(--main-bg-color);
    cursor: pointer;
}
.profile img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.profile{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dropdown-basic:hover{
    border-bottom: 2px #fff solid;
    border-radius: 0px;
}
.dropdown-toggle::after{
    display: inline !important;
    margin-left: 0 !important;
    vertical-align: 0 !important;
    content: "" !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
}
.profile-page-texts > h3{
    font-size: 46px;
    font-weight: 700;
    color: #fff;
}
.profile-page-texts > h6{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
.profile-page{
    background: url(assets/purple-city.jpg) no-repeat center / cover;
    height: 300px;
    opacity: .9;
}
.profile-body{
    top: -8%;
    background-color: #fff;
    height: 500px;
    box-shadow: 0px 0px 10px rgba(182, 179, 179, 0.356);
}
.profile-image{
    width: 100%;
    height: 350px;
}
.profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem 2rem 0px 0px !important;
}
.change-image:first-of-type{
    border-radius: 0px 0px 0px 2rem !important;
    background-color: rgba(197, 197, 197) !important;
}
.change-image:last-of-type{
    border-radius: 0px 0px 2rem 0px !important;
    background-color: rgba(197, 197, 197) !important;
}
.bg-gray{
    background-color: rgba(197, 197, 197, 0.363);
}
.change-image:first-of-type:hover{
    background-color: var(--main-bg-color) !important;
    color: #fff !important;
}
.change-image:last-of-type:hover{
    color: #fff !important;
    background-color: rgba(240, 18, 18, 0.836) !important;
}
.control-item{
    padding-block-end: 25px;
}
.control-item:nth-of-type(odd){
    padding-inline-end: 10px;
}
.control-item:nth-of-type(even){
    padding-inline-start: 10px;
}
.navlinks > li{
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.navlinks > li::before,
.navlinks > li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #A6A6A6;
  transition: all 0.5s;
}
.navlinks > li::before {
  top: 0;
  left: 0;
}
.navlinks > li::after {
  bottom: 0;
  right: 0;
}
.navlinks > li:hover::before {
  width: 100%;
  transition: width 0.25s ease-in-out;
}
.navlinks > li:hover::after {
  width: 100%;
  transition: width 0.25s ease-in-out 0.25s;
}
.profile-btn-navigating:hover{
    background-color: var(--main-bg-color) !important;
    color: white !important;
}
.category-card:nth-of-type(odd) .bottom-cate{
    background-color: #F3EFFE;
}
.category-card:nth-of-type(even) .bottom-cate{
    background-color: #FFFBEE;
}
.category-card .bottom-cate{
    box-shadow: 0px 1px 1px rgba(128, 128, 128, 0.623);
}
.category-card .top-cate div{
    box-shadow: 0px 1px 1px rgba(128, 128, 128, 0.623);
}
.category-card{
    transition: all 300ms;
}
a .cate-title{
    font-size: 32px;
    font-weight: 500;
    color: #1D2026 !important;
}
a .cate-desc{
    font-size: 18px;
    font-weight: 400;
    color: #4E5566 !important;
}
.category-card .top-cate{
    top: -15%;
}
.latest-articles-title{
    background-color: var(--main-bg-color);
    border-radius: 0px 50px 50px 0px;
    padding: 25px;
    top: -17%;
    left: 0%;
}
.latest-articles-container{
    overflow-x: visible !important;
}
.hight-lite{
    background-color: #F3EFFE;
}

.category-card:hover{
    transform: scale(1.1,1.1);
}
.sience{
    transition: all 300ms;
    color: #7E54E0 !important; 
    background-color: #DBCCFC !important;
}
.sience:hover{
    background-color: var(--main-bg-color) !important;
    color: #fff !important;
}
.home-art-title{
    font-size: 21px;
    font-weight: 500;
    color: #1D2026;
}
.art-separator{
    background-color: var(--main-bg-color);
    width: 100%;
    padding: 0px !important;
    height: 3px;
    color: #EBEBEB;
}
.art-home-img{
    object-fit: cover;
}
.home-author{
    font-size: 18px;
    font-weight: 500;
    color: #1D2026;
}
.show-all-articles-title:hover *{
    background-color: var(--main-bg-color) !important;
    color: #fff !important;
}
.show-all-articles-title{
    transition: all 300ms;
    bottom: -3%;
    right: 0%;
}
.show-all-articles-title > *{
    background-color: #E7DDB5 !important;
    color: #1D2026 !important;
}
.partner{
    border-bottom: 3px solid var(--main-bg-color);
}
.top-writer-head{
    font-size: 25px;
    font-weight: 500;
    color: #1D2026;
}
.top-writer-head span{
    border-bottom: 3px solid #E7DDB5;
}
.top-writer-head-2{
    font-size: 15px;
    font-weight: 500;
    color: #4E5566;
}
.top-writer-head-2 a{
    transition: all 300ms;
    color: var(--main-bg-color);
    text-decoration: none;
    border-bottom: 3px solid var(--main-bg-color);
}
.top-writer-head-2 a:hover{
    transform: rotate(5deg);
}
.writer-name-h{
    font-size: 21px;
    font-weight: 400;
    color: #242424;
}
.active > .writer-name-h{
    font-size: 24px;
    font-weight: 400;
    color: #242424;    
}
.title-writer-h{
    font-size: 30px;
    font-weight: 400;
    color: #1D2026;
}
.writer-card{
    transition: all 150ms;
}
.writer-card:hover{
    transform: translate(2.1, 1.1);
}
.create-title-page{
    font-size: 75px;
    font-weight: 700;
    color: rgb(12, 36, 102);
}
.primary-image-field{
    /* height: 600px; */
    max-height: 100%;
}
.primary-image-field img{
    height: 100%;
}
.cursor-pointer{
    cursor:  pointer !important;
}
.gallery-images{
    height: 250px;
}
.add-image{
    height: 200px;
}
.prev,
.next,
.page{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.read-article-body{
    background-color: #cfcfcf2f;
    box-shadow: 0px 1px 1px gray;
}
.bg-light-gray{
    background-color: #F3EFFE;
}
.ques{
    transition: all 300ms;
}
.ques:hover{
    background-color: var(--main-bg-color);
    color: #fff;
}
.head-of-contact-us{
    background: url(../src/assets/contact-us.jpg) no-repeat center / cover;
}
.shade{
    background-color: rgba(128, 128, 128, 0.212);
}
.contact-us-lf span{
    color: var(--main-bg-color);
    font-weight: 500;
}
.contact-us-rf span{
    border-bottom: 3px solid var(--main-bg-color);
}
.addr{
    top: 10%;
    left: 0;
    width: 50%;
    border-radius: 0px 20px 20px 0px;
    background-color: var(--main-bg-color);
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}
.tit{
    bottom: 0;
    width: 100%;
    background-color: #6441af79;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.ico h6{
    font-size: 15px;
    font-weight: 600;
}
.ico p{
    font-size: 12px;
    font-weight: 400;
}
.rot {
    transform: rotate(15deg);
}
.pos{
    background-color: var(--main-bg-color);
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bg-testimontial{
    background-color: #F3EFFE;
}
.trans{
    transform: translateX(10%);
}
.bg-join-us{
    background-color: #F3EFFE;
    background-image: url(assets/join-us.png);
    background-position: 100% 0%;
    background-size: 600px 500px;
    background-repeat: no-repeat;
}
.our-benefits-title span{
    border-bottom: 5px solid var(--main-bg-color);
}
.left-hand-side,
.left-hand-side img
{
    height: 100%;
}